<!DOCTYPE html>
<html>
  {% include "head.html" %}

  <body>
    {% include "header.html" %}

    <br><br><br>

    {% include "apply.html" %}

    {% include "footer.html" %}
  </body>
</html>

{% block script %}
    <script>
      Array.from(document.getElementsByClassName('delete')).forEach(item => {
        item.addEventListener('click', async function(e) {     
          try {
            await axios.delete(`/apply/delete/${e.target.value}`);
            window.location.href='/apply';
          } catch(err) {
            console.log(err)
          }        
        });
      });  
    </script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}