<!DOCTYPE html>
<html>
  {% include "head.html" %}

  <body>
    <div id="header">
        <img src="/logo.png" alt="명지 테크놀로지 로고" width="80px">
        <h1>Myongji Technology Recruit</h1>
    </div>

    <div class="main_image">
        <img src="/main.jpg" alt="명지 테크놀로지 이미지" width="100%">
        <h1 class="main_image_text" style="font-size:50px">믿음의 기업, <br> 믿을 수 있는 인재</h1>        
        <button id="apply-btn" type="button" onclick="location.href='login'">지원하기</button>
    </div>

    {% include "footer.html" %}
  </body>
</html>

