<!DOCTYPE html>
<html>
  {% include "head.html" %}

  <body>
    {% include "main.html" %}
    
    <div class="modal">
        <div class="modal_body">
          <button id="return-btn" type="button" onclick="location.href='/'">
            <img src="/back.png" alt="뒤로가기 아이콘" width="20px">
          </button>  

          <h2>Join</h2>

          <form id="login-form" action="/auth/join" method="post">
            <div>
              <input placeholder="Email" type="email" name="email" required autofocus>
              <input placeholder="Password" type="password" name="password" required autofocus>       
              <input placeholder="관리자 코드(관리자 외 기입 금지)" name="staff"focus>
              <button id="join" type="submit" class="btn">Join</button>
            </div>            
          </form>
        </div>
    </div>     
  </body>

    {% include "footer.html" %}
  </body>
</html>