<!DOCTYPE html>
<html>
  {% include "head.html" %}

  <body>
    {% include "header.html" %}

    {% include "manage.html" %}
    
    {% include "footer.html" %}
  </body>
</html>

{% block script %}
    <script>
    document.getElementById('delete').addEventListener('click', async function(e) {     
        try {
            await axios.delete(`/manage/delete/${e.target.value}`);
            window.location.href='/manage';
        } catch(err) {
            console.log(err)
        }        
    });
    </script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}