input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}
#header {
    background-color: #071d49;
    color: white;
    padding: 20px;
}
#header img {    
    float: left;
}
#header h1 {          
    padding-left: 130px;    
}
#header a {    
    position: absolute;
    top: 20px;
    right: 3%;
    color: white;
    font-size: 18px;
    text-decoration-line: none;
}

#footer {
    clear: both;
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 20px;
}

.main_image {
    position: relative;
}
.main_image img {
    opacity: 0.8;
}
.main_image_text {
    position: absolute;
    top: 18%;
    left: 20%;
    transform: translate( -50%, -50% );
    color: white;
    text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
}

#apply-btn {
    position: absolute;
    top: 50%;
    left: 28%;
    transform: translate( -50%, -50% );
    color: white;
    font-size: 30px;
    font-weight: bold;
    background-color: #005eb8;
    border-radius: 30rem;
    letter-spacing: -1px;
    width: 250px;
    height: 80px;
    vertical-align: middle;
}

.modal {
    position:absolute;
    display:flex;
    justify-content: center;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.4);
}
.modal_body {
    position:absolute;
    top:50%; 
    width:400px;  
    height:600px; 
    padding:40px;  
    text-align: center;
    background-color: rgb(250,250,250); 
    border-radius:10px; 
    box-shadow:0 2px 3px 0 rgba(34,36,38,0.15);
    transform:translateY(-50%); 
}

#modal-form {
    padding-top: 70px;
}
#modal-form > div {
    padding-top: 10px;    
    margin-bottom: 20px;
}
#modal-form > div > input {
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
}
#modal-form > div > input::placeholder {
    color: darkgrey;
}
#modal-form > div > button {
    color: #fff;
    font-size: 16px;
    background-color: #005eb8;
    margin-top: 20px;
    border-radius: 10rem;
    width: 400px;
    height: 50px;    
}
#modal-form > div > div {
    height: 30px;    
    margin-top: 10px;
    margin-bottom: 10px;
}
#modal-form > div > div > label {
    font-size: 20px;
    vertical-align: middle;
}
#modal-form > div > div > input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

#home-btn {
    position: absolute;
    border: none;
    background-color: #071d49;    
} 
#kakao-btn {
    border: none;
    background-color: rgb(250,250,250);
} 
#return-btn {
    position: absolute;
    border: none;
    background-color: rgb(250,250,250);
    margin-left: 170px;    
} 

#post-dept {
    color: #fff;
    font-size: 16px;
    background-color: #005eb8;
    margin-top: 50px;
    margin-right: 200px;
    margin-bottom: 30px;
    border-radius: 5rem;
    width: 150px;
    height: 40px;
    float: right;
}

.container {
    clear: both;
    display: flex;
    justify-content: center;
}

#recruit-manage {
    border-top: 2px solid black; 
    border-collapse: collapse;
    width: 80%;
    margin-bottom: 50px;
    font-size: 18px;
}
#recruit-manage th {
    border-bottom: 1px solid black; 
    background-color: #e6e6e6;     
    height: 40px;
}
#recruit-manage th:nth-child(1) {
    width: 30%;
}
#recruit-manage th:nth-child(2) {
    width: 12%;
}
#recruit-manage th:nth-child(3) {
    width: 10%;
}
#recruit-manage th:nth-child(4) {
    width: 10%;
}
#recruit-manage th:nth-child(5) {
    width: 25%;
}
#recruit-manage th:nth-child(6) {
    width: 13%;
}
#recruit-manage tr {
    height: 100px;    
}
#recruit-manage td {
    border-bottom: 1px solid black; 
    text-align: center; 
    vertical-align: middle;
}

#put {
    color: #fff;
    font-size: 16px;
    background-color: #005eb8;
    margin-top: 20px;
    border-radius: 10rem;
    width: 400px;
    height: 50px;
}

#recruit-apply {
    border-top: 2px solid black; 
    border-collapse: collapse;
    width: 80%;
    margin-bottom: 50px;
    font-size: 18px;
}
#recruit-apply th {
    border-bottom: 1px solid black; 
    background-color: #e6e6e6;     
    height: 40px;
}
#recruit-apply th:nth-child(1) {
    width: 30%;
}
#recruit-apply th:nth-child(2) {
    width: 15%;
}
#recruit-apply th:nth-child(3) {
    width: 15%;
}
#recruit-apply th:nth-child(4) {
    width: 25%;
}
#recruit-apply th:nth-child(5) {
    width: 15%;
}
#recruit-apply tr {
    height: 100px;    
}
#recruit-apply td {
    border-bottom: 1px solid black; 
    text-align: center; 
    vertical-align: middle;
}

.alert {
    float: right;
    margin-right: 30px;
}

l {
    color: red;
}

#apply-form > div {
    margin-left: 100px;
}
#apply-form > div > input {    
    height: 35px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
    font-size: 15px;
}
#apply-form > div > textarea {    
    margin-bottom: 16px;
    font-size: 16px;
}
#apply-form > hr {
    width: 90%; 
    height: 1.5px; 
    background-color: #071d49;
    margin-top: 40px;
    margin-bottom: 40px;
}
#apply-form > h2 {
    text-align: center;
}
#apply-form > h3 {
    text-align: center;    
    font-size: 18px;
    font-weight: unset;
}
#apply-form > button {
    color: #fff;
    font-size: 16px;
    background-color: #005eb8;
    border-radius: 5rem;
    width: 200px;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 10%;
    float: right;
}

.label-div {    
    margin-bottom: 5px;
}
.input-div {
    margin-bottom: 20px;
}